<div class="home-banner-section">
  <div class="">
    <div class="home-banner" style="opacity:0;">
     
      <div class="home-banner-left">
        {%- if section.settings.title != blank -%}
        <h1>{{ section.settings.title }}</h1>
        {%- endif -%}
        {%- if section.settings.desc != blank -%}
        <p>{{ section.settings.desc }}</p>
        {%- endif -%}
        {%- if section.settings.btn_title != blank and section.settings.btn_link != blank -%}
        <a class="btn btn-primary btn-medium" href="{{ section.settings.btn_link }}">{{ section.settings.btn_title }}</a>
        {%- endif -%}
      </div>
       {%- if section.settings.image != blank -%}
      <div class="home-banner-right home-banner-image">
        <img
                      srcset="
                        {% if section.settings.image.width >= 254 %}{{ section.settings.image | img_url: 'master' }} 254w,{% endif %}
                        {% if section.settings.image.width >= 374 %}{{ section.settings.image | img_url: 'master' }} 374w,{% endif %}
                        {% if section.settings.image.width >= 404 %}{{ section.settings.image | img_url: 'master' }} 404w,{% endif %}
                        {% if section.settings.image.width >= 562 %}{{ section.settings.image | img_url: 'master' }} 562w,{% endif %}
    {% if section.settings.image.width >= 1400 %}{{ section.settings.image | img_url: 'master' }} 1400w,{% endif %}
    {% if section.settings.image.width >= 1200 %}{{ section.settings.image | img_url: 'master' }} 1200w,{% endif %}
    {% if section.settings.image.width >= 900 %}{{ section.settings.image | img_url: 'master' }} 900w,{% endif %}
                        {% if section.settings.image.width >= 1608 %}{{ section.settings.image | img_url: 'master' }} 1608w,{% endif %}
                        {% if section.settings.image.width >= 1824 %}{{ section.settings.image | img_url: 'master' }} 1824w,{% endif %}
                        {% if section.settings.image.width >= 1916 %}{{ section.settings.image | img_url: 'master' }} 1916w,{% endif %},
                        {{ section.settings.image | img_url: 'master' }} {{ section.settings.image.width }}w"
                      src="{{ section.settings.image | img_url: 'master' }}"
                      alt="{{ section.settings.image.alt | escape }}"
                      loading="lazy">
      </div>
      {%- endif -%}
    </div>
  </div>
</div>

<script>
  function banner_w(){
     var screenwidth = $( window ).outerWidth();
	var containerwidth = $('.container').width();
	var calculated = screenwidth - containerwidth;
	var finalval = calculated/2;
	$('.home-banner-section .home-banner').css('padding-left',finalval+"px");
  }
   $(document).ready(function(e){
 banner_w();
     $('.home-banner').css('opacity',1);
    });
  $(window).on("resize",function(e){
 banner_w();
    });
</script>

{% schema %}
  {
    "name": "Home Banner",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "textarea",
        "id": "desc",
        "label": "Description"
      },
      {
        "type": "text",
        "id": "btn_title",
        "label": "Button Heading"
      },
      {
        "type": "url",
        "id": "btn_link",
        "label": "Button Link"
      }
    ],
    "presets": [
      {
        "name": "Home Banner",
        "category": "Image"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}