<div class="home-team-section">
  <div class="container">
    <div class="home-team-title">
      {%- if section.settings.title != blank -%}
      <h2>{{ section.settings.title }}</h2>
      {%- endif -%}
    </div>
    <div class="home-team">
      {%- for block in section.blocks -%}
      <div class="home-team-wrap">
        {%- if block.settings.image != blank -%}
       <img
                      id="Thumbnail-{{ section.id }}-0"
                      srcset="
                        {% if block.settings.image.width >= 175 %}{{ block.settings.image | img_url: 'master' }} 400w,{% endif %}
                        {% if block.settings.image.width >= 374 %}{{ block.settings.image | img_url: 'master' }} 374w,{% endif %}
                        {% if block.settings.image.width >= 404 %}{{ block.settings.image | img_url: 'master' }} 404w,{% endif %}
                        {% if block.settings.image.width >= 562 %}{{ block.settings.image | img_url: 'master' }} 562w,{% endif %}
    {% if block.settings.image.width >= 1400 %}{{ block.settings.image | img_url: 'master' }} 1400w,{% endif %}
    {% if block.settings.image.width >= 1200 %}{{ block.settings.image | img_url: 'master' }} 1200w,{% endif %}
    {% if block.settings.image.width >= 900 %}{{ block.settings.image | img_url: 'master' }} 900w,{% endif %}
                        {% if block.settings.image.width >= 1608 %}{{ block.settings.image | img_url: 'master' }} 1608w,{% endif %}
                        {% if block.settings.image.width >= 1824 %}{{ block.settings.image | img_url: 'master' }} 1824w,{% endif %}
                        {% if block.settings.image.width >= 1916 %}{{ block.settings.image | img_url: 'master' }} 1916w,{% endif %},
                        {{ block.settings.image | img_url: 'master' }} {{ block.settings.image.width }}w"
                      src="{{ block.settings.image | img_url: 'master' }}"
                      alt="{{ block.settings.image.alt | escape }}"
                      loading="lazy">
        {%- endif -%}
        {%- if block.settings.title != blank -%}
        <h4>{{ block.settings.title }}</h4>
        {%- endif -%}
        {%- if block.settings.sub_title != blank -%}
        <h5>{{ block.settings.sub_title }}</h5>
        {%- endif -%}
      </div>
      {%- endfor -%}
    </div>
  </div>
</div>

<script>
//     $(window).on("load resize",function(e){
//   var winWidth = $(window).width();
//   if(winWidth < 769){
// $('.home-team-section .home-team').slick({
//   dots: true,
//   infinite: true,
//   speed: 300,
//   slidesToShow: 1,
//   centerMode: true,
//   arrows:false,
//   variableWidth: true
// });
//     }
//   });
mobileOnlySlider(".home-team-section .home-team", true, false, 768);

function mobileOnlySlider($slidername, $dots, $arrows, $breakpoint) {
  var slider = $($slidername);
  var settings = {
    mobileFirst: true,
    dots: $dots,
    arrows: $arrows,
    
    responsive: [
      {
        breakpoint: $breakpoint,
        settings: "unslick"
      }
    ]
  };

  slider.slick(settings);

  $(window).on("resize", function () {
    if ($(window).width() > $breakpoint) {
      return;
    }
    if (!slider.hasClass("slick-initialized")) {
      return slider.slick(settings);
    }
  });
} // Mobile Only Slider
  
  </script>
{% schema %}
  {
    "name": "Home Team",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      }
    ],
    "blocks": [
      {
        "type": "Team",
        "name": "Team",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          },
          {
            "type": "text",
            "id": "sub_title",
            "label": "Sub Heading"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Home Team",
        "category": "Image"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}