{%- if section.settings.blog != blank -%}
<div class="new-science-img-text-grid-blog-section">
  <div class="container">
    {% if section.settings.title != blank %}
    <div class="new-science-img-text-grid-blog-title">
      <h2 class="main-title">{{ section.settings.title }}</h2>
    </div>
      {% endif %}
    <div class="new-science-img-text-grid-blog">
        {% assign blog = blogs[section.settings.blog] %}
        {% for article in blog.articles limit:3 %}
      <div class="new-science-img-text-grid-blog-wrap">
        {%- if article.image != blank -%}
        <img
                      id="Thumbnail-{{ section.id }}-0"
                      srcset="
                        {% if article.image.width >= 254 %}{{ article.image | img_url: 'master' }} 254w,{% endif %}
                        {% if article.image.width >= 374 %}{{ article.image | img_url: 'master' }} 374w,{% endif %}
                        {% if article.image.width >= 404 %}{{ article.image | img_url: 'master' }} 404w,{% endif %}
                        {% if article.image.width >= 562 %}{{ article.image | img_url: 'master' }} 562w,{% endif %}
    {% if article.image.width >= 1400 %}{{ article.image | img_url: 'master' }} 1400w,{% endif %}
    {% if article.image.width >= 1200 %}{{ article.image | img_url: 'master' }} 1200w,{% endif %}
    {% if article.image.width >= 900 %}{{ article.image | img_url: 'master' }} 900w,{% endif %}
                        {% if article.image.width >= 1608 %}{{ article.image | img_url: 'master' }} 1608w,{% endif %}
                        {% if article.image.width >= 1824 %}{{ article.image | img_url: 'master' }} 1824w,{% endif %}
                        {% if article.image.width >= 1916 %}{{ article.image | img_url: 'master' }} 1916w,{% endif %},
                        {{ article.image | img_url: 'master' }} {{ article.image.width }}w"
                      src="{{ article.image | img_url: 'master' }}"
                      alt="{{ article.image.alt | escape }}"
                      loading="lazy">
        {%- endif -%}
        {%- if article.title != blank -%}
        <h4><a href="{{ article.url }}">{{ article.title }}</a></h4>
        {%- endif -%}
        <a class="link" href="{{ article.url }}">Read more</a>
      </div>
      {%- endfor -%}
    
    </div>
      {% if section.settings.btn_title != blank and section.settings.btn_link != blank %}
    <div class="new-science-img-text-grid-blog-link">
      <a class="btn btn-primary" href="{{ section.settings.btn_link }}">{{ section.settings.btn_title }}</a>
    </div>
      {% endif %}
  </div>
</div>

<script>
  var winWidth = $(window).width();
  if(winWidth < 769){
$('.new-science-img-text-grid-blog-section .new-science-img-text-grid-blog').slick({
  dots: true,
  arrows:false,
  infinite: true,
  speed: 300,
  slidesToShow: 1,
  adaptiveHeight: true
});
    }
  </script>
{%- endif -%}
  
{% schema %}
  {
    "name": "New Science Img Grid Blog",
    "settings": [
      {
        "type": "textarea",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "btn_title",
        "label": "Button Heading"
      },
      {
        "type": "url",
        "id": "btn_link",
        "label": "Button Link"
      },
      {
        "type": "blog",
        "id": "blog",
        "label": "Blog"
      }
    ],
    "blocks": [
      {
        "type": "Image",
        "name": "Image",
        "settings": [
          {
            "type": "blog",
            "id": "blog",
            "label": "Blog"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          },
          {
            "type": "text",
            "id": "btn_title",
            "label": "Button Heading"
          },
          {
            "type": "url",
            "id": "btn_url",
            "label": "Button Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "New Science Img Grid Blog",
        "category": "Image"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}