<div class="science-img-text-section science-img-text-section-main {% if section.settings.custom_class != blank  %} {{ section.settings.custom_class }} {% endif %}">
 
{% if section.settings.narrow_sec != blank  %}   <div class="container"> {% endif %}
  <div class="science-img-text-section-inner">
    <div class="science-img-text grid-new">
      
      <div class="science-img-text-right grid-item-new">
        {%- if section.settings.title != blank -%}
        <h2 class="main-title lora-font"><span class="mobile-hide">{{ section.settings.title }}</span>
        <span class="desk-hide">{{ section.settings.title_mob }}</span>
        </h2>
        {%- endif -%}
        {%- if section.settings.desc != blank -%}
          <p class="mobile-hide">{{ section.settings.desc }}</p>
        <p class="desk-hide">{{ section.settings.desc_mob }}</p>
        {%- endif -%}
        {%- if section.settings.btn_title != blank and section.settings.btn_link != blank -%}
        <a class="btn btn-primary btn-medium" style="margin-bottom: 20px;" href="{{ section.settings.btn_link }}">{{ section.settings.btn_title }}</a>
        {%- endif -%}
      </div>
      {%- if section.settings.image != blank -%}
      <div class="science-img-text-left grid-item-new">
   <img
                      id="Thumbnail-{{ section.id }}-0"
                      srcset="
                        {% if section.settings.image.width >= 50 %}{{ section.settings.image | image_url: width: 254 }} 254w,{% endif %}
                        {% if section.settings.image.width >= 374 %}{{ section.settings.image | image_url: width: 374 }} 374w,{% endif %}
                        {% if section.settings.image.width >= 404 %}{{ section.settings.image | image_url: width: 404 }} 404w,{% endif %}
                        {% if section.settings.image.width >= 562 %}{{ section.settings.image | image_url: width: 562 }} 562w,{% endif %}
    {% if section.settings.image.width >= 1400 %}{{ section.settings.image | image_url: width: 1400 }} 1400w,{% endif %}
    {% if section.settings.image.width >= 1200 %}{{ section.settings.image | image_url: width: 1200 }} 1200w,{% endif %}
    {% if section.settings.image.width >= 900 %}{{ section.settings.image | image_url: width: 900 }} 900w,{% endif %}
                        {% if section.settings.image.width >= 1608 %}{{ section.settings.image | image_url: width: 1608 }} 1608w,{% endif %}
                        {% if section.settings.image.width >= 1824 %}{{ section.settings.image | image_url: width: 1824 }} 1824w,{% endif %}
                        {% if section.settings.image.width >= 1916 %}{{ section.settings.image | image_url: width: 1916 }} 1916w,{% endif %},
                        {{ section.settings.image | image_url }} {{ section.settings.image.width }}w"
                      src="{{ section.settings.image | image_url: 'master' }}"
                      alt="{{ section.settings.image.alt | escape }}"
                      loading="lazy">
      </div>
      {%- endif -%}
    </div>
  </div>
  {% if section.settings.narrow_sec != blank  %}   </div> {% endif %}
</div>
<script>
  
    $(window).on("load resize",function(e){
        var winWidth = $(window).width();
  if(winWidth > 768){
  var screenwidth = $( window ).outerWidth();
	var containerwidth = $('.container').width();
	var calculated = screenwidth - containerwidth;
	var finalval = calculated/2;
	$('.science-img-text-section.healthy-smile .science-img-text-section-inner').css('padding-left',finalval+"px");
  }
       });
</script>
{% schema %}
  {
    "name": "Sales Image",
    "settings": [
      {
    "type":"text",
    "id":"custom_class",
    "label":"Add Custom class"
  },
      {
    "type":"checkbox",
    "id":"narrow_sec",
    "label":"Narrow Section"
  },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "html",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "html",
        "id": "title_mob",
        "label": "Heading Mobile"
      },
      {
        "type": "textarea",
        "id": "desc",
        "label": "Description"
      },
      {
        "type": "textarea",
        "id": "desc_mob",
        "label": "Description"
      },
      {
        "type": "text",
        "id": "btn_title",
        "label": "Button Heading"
      },
      {
        "type": "url",
        "id": "btn_link",
        "label": "Button Link"
      }
    ],
    "presets": [
      {
        "name": "Sales Image",
        "category": "Image"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}